<h1>Create a new recipe</h1>

<%= form_with model: @recipe do |recipe_form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= recipe_form.text_field :title, placeholder: "Recipe Title" %>
  <h2>Ingredients</h2>
  <%= recipe_form.fields_for :recipe_ingredients do |recipe_ingredient_form| %>
    <%= recipe_ingredient_form.text_field :amount, placeholder: "Amount" %>
    <%= recipe_ingredient_form.fields_for :ingredient do |ingredient_form| %>
      <%= ingredient_form.text_field :name %>
    <% end %>
    <br />
  <% end %>

  <br />
  <%= recipe_form.submit %>
<% end %>
